<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.antares.scada.demo.client.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Eclipse SCADA Client Application"
            application="com.antares.scada.demo.client.application">
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="appName"
               value="Eclipse SCADA Client Application">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default perspective"
            class="com.antares.scada.demo.client.Perspective"
            id="com.antares.scada.demo.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="com.antares.scada.demo.client.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.antares.scada.demo.client.perspective">
         <view
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.scada.vi.ui.user.SingleVisualInterfaceView"
               closeable="false"
               visible="true"
               standalone="true"
               minimized="false"
               showTitle="false"
               relationship="top"
               moveable="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               id="file">
            <separator
                  name="new.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit">
            </command>
         </menu>
         <separator
               name="additions">
         </separator>
         <menu
               label="Window"
               id="window">
            <command
                  commandId="org.eclipse.ui.window.newWindow">
            </command>
            <separator
                  name="resetPerspectiveSeparator"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective">
            </command>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="sep3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <systemTest
                        value="true"
                        property="scada.debug">
                  </systemTest>
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="Help"
               id="help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            name="Default"
            id="com.antares.scada.demo.client.default">
      </activity>
      <activityPatternBinding
            isEqualityPattern="false"
            activityId="com.antares.scada.demo.client.default"
            pattern=".*\/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            isEqualityPattern="false"
            activityId="com.antares.scada.demo.client.default"
            pattern=".*\/org.eclipse.ui.edit.text.delimiter\..*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.scada.core.ui.connection.login.context">
      <context
            label="Default Context (localhost)"
            id="com.antares.scada.demo.client.localhost">
         <factory
               class="org.eclipse.scada.core.ui.connection.login.factory.ConnectionLoginFactory">
         </factory>
         <connection
               authUseCallbacks="true"
               uri="da:ngp://localhost:2101?session.privilege.admin=true&amp;session.privilege.developer=true&amp;session.privilege.operator=true"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.da.main">
            </registration>
         </connection>
         <connection
               authUseCallbacks="true"
               uri="ae:ngp://localhost:2201"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.ae.main">
            </registration>
         </connection>
         <connection
               authUseCallbacks="true"
               uri="hd:ngp://localhost:2302"
               autoReconnectDelay="10000"
               mode="OPTIONAL">
            <registration
                  servicePid="connection.hd.main">
            </registration>
         </connection>
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.antares.scada.demo.client.nosession">
         <and>
            <not>
               <with
                     variable="org.eclipse.scada.core.ui.connection.login.sessionState">
                  <equals
                        value="loggedIn">
                  </equals>
               </with>
            </not>
         </and>
      </definition>
      <definition
            id="com.antares.scada.demo.client.hassession">
         <and>
            <with
                  variable="org.eclipse.scada.core.ui.connection.login.sessionState">
               <equals
                     value="loggedIn">
               </equals>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.scada.ae.ui.views.configuration">
      <monitorView
            label="All Alarms"
            monitorQueryId="monitors.not_ok"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="com.antares.scada.demo.client.monitors.not_ok">
      </monitorView>
      <monitorView
            label="Acknowledge required"
            monitorQueryId="monitors.ack_required"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="com.antares.scada.demo.client.monitors.ack_required">
      </monitorView>
      <monitorView
            label="Only active alarms"
            monitorQueryId="monitors.not_ok"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="com.antares.scada.demo.client.monitors.not_ok">
      </monitorView>
      <eventPoolView
            label="Latest Events"
            maxNumberOfEvents="20000"
            monitorQueryId="monitors.not_ok"
            connectionString="connection.ae.main"
            columnInformationDefinition="defaultConfiguration"
            eventPoolQueryId="events.all"
            connectionType="ID"
            id="com.antares.scada.demo.client.events.all">
      </eventPoolView>
      <eventHistoryView
            label="Query Historic Events"
            connectionString="connection.ae.main"
            columnInformationDefinition="defaultConfiguration"
            connectionType="ID"
            id="com.antares.scada.demo.client.eventhistoryview">
      </eventHistoryView>
      <alarmNotifier
            soundFile="resources/alert.wav"
            prefix="ae.server.info"
            connectionId="connection.da.main">
         <ackAlarmsAvailableCommand
               id="org.eclipse.scada.ui.utils.showView">
            <parameter
                  name="org.eclipse.scada.ui.utils.showView.viewId"
                  value="org.eclipse.scada.ae.ui.views.views.monitors:com.antares.scada.demo.client.monitors.ack_required">
            </parameter>
         </ackAlarmsAvailableCommand>
         <alarmsAvailableCommand
               id="org.eclipse.scada.ui.utils.showView">
            <parameter
                  name="org.eclipse.scada.ui.utils.showView.viewId"
                  value="org.eclipse.scada.ae.ui.views.views.monitors:com.antares.scada.demo.client.monitors.not_ok">
            </parameter>
         </alarmsAvailableCommand>
      </alarmNotifier>
      <columnInformationDefinition
            id="defaultConfiguration">
         <columnInformation
               label="Source Timestamp"
               type="sourceTimestamp"
               initialSize="120"
               sortable="true">
         </columnInformation>
         <columnInformation
               label="Event Type"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="decoration"
                  value="MONITOR">
            </columnParameter>
            <columnParameter
                  key="key"
                  value="eventType">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Value"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="value">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Monitor Type"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="monitorType">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Item"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="item">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Item Description"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="itemDescription">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Message"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="message">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Actor Name"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="actorName">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Actor Type"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="decoration"
                  value="ACTOR">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Priority"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="priority">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Source"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="source">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Hive"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="hive">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="System"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="system">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 0"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.0">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 1"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.1">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 2"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.2">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 3"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.3">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 4"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.4">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 5"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.5">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 6"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.6">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 7"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.7">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 8"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.8">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 9"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.9">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Entry Timestamp"
               type="entryTimestamp"
               initialSize="120"
               sortable="true">
         </columnInformation>
      </columnInformationDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               label="Alarms">
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="All &amp;Alarms"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:com.antares.scada.demo.client.monitors.not_ok">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="A&amp;cknowledge required"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:com.antares.scada.demo.client.monitors.ack_required">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="Only active alarms"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:com.antares.scada.demo.client.monitors.not_ok">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="&amp;Latest Events"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.eventpool:com.antares.scada.demo.client.events.all">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="Query &amp;Historic Events"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.eventhistory:com.antares.scada.demo.client.eventhistoryview">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.scada.core.ui.connection.login.verticalTrim">
         <control
               class="org.eclipse.scada.ae.ui.views.contributions.AlarmNotifier">
         </control>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.scada.vi.details.detailView">
      <detailView
            id="org.eclipse.scada.details.node">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/com.antares.scada.demo.client/resources/details/node.detailview">
            </parameter>
         </class>
      </detailView>
   </extension>
   <extension
         point="org.eclipse.scada.vi.ui.user.viewer">
      <viewerExtension
            location="LEFT"
            align="FILL"
            id="com.antares.scada.demo.client.main.navigator">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.ToolBarNavigatorExtension">
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="FILL"
            id="com.antares.scada.demo.client.main.breadcrumbs">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.BreadcrumbNavigatorExtension">
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="END"
            id="com.antares.scada.demo.client.main.sep1">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.SeparatorExtension">
            <parameter
                  name="invisible"
                  value="true">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="FILL"
            id="com.antares.scada.demo.client.main.message">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.item.SystemMessageExtension">
            <parameter
                  name="connectionId"
                  value="connection.main.main">
            </parameter>
            <parameter
                  name="itemId"
                  value="ES.DEMO.MODBUS.V11.X">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="END"
            id="com.antares.scada.demo.client.main.logo">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.image.ImageExtension">
            <parameter
                  name="url"
                  value="platform:/plugin/com.antares.scada.demo.client/resources/customerLogo.png">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="END"
            id="com.antares.scada.demo.client.main.debug">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.DebugActionExtension">
         </class>
      </viewerExtension>
   </extension>
   <extension
         point="org.eclipse.scada.vi.ui.user.view">
      <viewInstance
            defaultInstance="true"
            name="Logon"
            zooming="false"
            mainView="false"
            resource="resources/views/placeholder.vi"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="com.antares.scada.demo.client.placeholder">
         <visibility>
            <reference
                  definitionId="com.antares.scada.demo.client.nosession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="false"
            name="Operação Bobinador Desbob."
            zooming="false"
            mainView="true"
            resource="resources/views/desbob_bob.vi"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="com.antares.scada.demo.client.desbobBob">
         <visibility>
            <reference
                  definitionId="com.antares.scada.demo.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            name="Operação Principal"
            zooming="false"
            mainView="true"
            resource="resources/views/main.vi"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="com.antares.scada.demo.client.main">
         <visibility>
            <reference
                  definitionId="com.antares.scada.demo.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            name="Operação da Linha"
            zooming="false"
            mainView="true"
            resource="resources/views/op_linha.vi"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="com.antares.scada.demo.client.opLinha">
         <visibility>
            <reference
                  definitionId="com.antares.scada.demo.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            name="Shapes"
            zooming="false"
            mainView="true"
            resource="resources/views/shapes.vi"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="com.antares.scada.demo.client.shapes">
         <visibility>
            <reference
                  definitionId="com.antares.scada.demo.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            name="Borders"
            zooming="false"
            mainView="true"
            resource="resources/views/borders.vi"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="com.antares.scada.demo.client.borders">
         <visibility>
            <reference
                  definitionId="com.antares.scada.demo.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
   </extension>

</plugin>
